@import '_variables';
/*Mobile first*/
*{
	margin:0;
	padding:0;
}
body{
	background-color:pink;
}
.memory-balls{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:stretch;
	width:300px;
	height:480px;
	background-color:#f6f6f6;
	border:1px solid #000;
	margin:10px auto 0px;
	.memory-balls__drop-zone{
		display:flex;
		flex-direction:column;
		justify-content:flex-start;
		align-items:stretch;
		height:50%;
		width:100%;
		background-color:#776DD2;
		@for $i from 1 through 5{/*Classes memory-balls__drop-row-1,2,3,4,5*/
			.memory-balls__drop-row-#{$i}{
				display:flex;
				flex-direction:row;
				justify-content:flex-start;
				align-items:stretch;
				/*background-color:pink;*/
				box-sizing:border-box;
				height:20%;
				border:1px solid black;
				.memory-balls__drop-box{
					height:45px;
					width:40px;
					/*border:1px solid #000;*/
					/*Base positions for bottles*/
					background: transparent url("../img/stands.svg") 0px 0px/200px 36px no-repeat padding-box border-box scroll;
					@if($i == 1){
						background-position:0px 20px;
					}
					@if($i == 2){
						background-position:-40px 20px;
					}
					@if($i == 3){
						background-position:-80px 20px;
					}
					@if($i == 4){
						background-position:-120px 20px;
					}
					@if($i == 5){
						background-position:-160px 20px;
					}
				}
			}
		}
	}
	.memory-balls__drag-zone{
		height:50%;
		width:100%;
		background-color:violet;
	}
}
#jar1 { 
	/*border:1px solid red;font-size:8px;
	background-color:#f6f6f6;*/
	width:35px; height:35px; float: left; margin: 10px 10px 10px 0;
		svg{
			max-width:100%;
			height:auto;
		}
	}
#jar2 { 
	/*border:1px solid red;font-size:8px;
	background-color:#f6f6f6;*/
	width:35px; height:35px; float: left; margin: 10px 10px 10px 50px;
		svg{
			max-width:100%;
			height:auto;
		}
	}
.dropped{
	background-color:yellow;
	/*width: percentage(5/7);*/
}
@import '_mediaqueries';