@import '_variables';

#draggable1 { 
	border:1px solid red;font-size:8px;
	background-color:red;
	width: 50px; height: 50px; padding: 2px; float: left; margin: 300px 10px 10px 0; 
	}
 #draggable2 { 
	border:1px solid red;font-size:8px;
	background-color:green;
	width: 50px; height: 50px; padding: 2px; float: left; margin: 300px 0px 10px 100px; 
	}
  #droppable1 { 
	border:1px solid black;
	background-color:red;
	width: 300px; height: 200px; padding: 0.5em; float: left; margin: 10px; 
  }
  #droppable2 { 
	border:1px solid black;
	background-color:green;
	width: 300px; height: 200px; padding: 0.5em; float: left; margin: 10px; 
  }
  .dropped-el{
	background-color:yellow;
	/*width: percentage(5/7);*/
  }